{% extends "layout.html" %}

{% block body %}

<style>
    a.article-link {
        color: #198754;
        text-decoration: none;
    }
</style>

<div class="container-fluid p-5 bg-success text-white text-center">
    <h3>About Charticle Django Edition</h3>
</div>

<br>

<p>
    Hello! My name is Dogan.
</p>
<p>
    I'm creator of the <b>Charticle Django Edition</b>.
</p>
<p>
    You can write articles about your favorite fictional characters.
</p>
<p>
    Enjoy, write, and share.
</p>
<p>
    <em>
        You can visit my <a class="article-link" href="https://github.com/doganseyfisen" target="_blank">GitHub</a> and <a class="article-link" href="https://www.linkedin.com/in/doganseyfisen/" target="_blank">LinkedIn</a> pages to contact me.
    </em>
</p>
<hr>

{% endblock  %}